[package]
name = "oas3"
description = "Structures and tools to parse, navigate and validate OpenAPI v3 specifications."
version = "0.5.0"
authors = [
    "softprops <d.tangren@gmail.com>",
    "Rob Ede <robjtede@icloud.com>",
]
keywords = ["oas3", "openapi", "swagger", "api", "validation"]
categories = ["data-structures", "development-tools::testing", "parsing"]
repository = "https://github.com/x52dev/oas3-rs"
license = "MIT"
edition = "2021"
rust-version = "1.65"

[features]
default = ["validation"]
validation = []
conformance = ["validation", "reqwest", "prettytable-rs", "colored"]

[dependencies]
bytes = "1.5"
derive_more = "0.99"
futures-util = "0.3"
http = "1"
log = "0.4"
once_cell = "1"
regex = "1"
semver = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.9"
url = { version = "2", features = ["serde"] }

# conformance
colored = { version = "2", optional = true }
prettytable-rs = { version = "0.10", optional = true }
reqwest = { version = "0.12", optional = true, features = ["json"] }

[dev-dependencies]
color-eyre = "0.6"
dotenvy = "0.15"
eyre = "0.6"
maplit = "1"
pretty_assertions = "1"
pretty_env_logger = "0.5"
tokio = { version = "1", features = ["full"] }

[[example]]
name = "conformance"
required-features = ["conformance"]
