name: Lint

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  clippy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      checks: write

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1.8.0
        with:
          components: clippy

      - name: Install cargo-hack
        uses: taiki-e/install-action@v2.26.7
        with:
          tool: cargo-hack

      - name: Check with Clippy
        run: |
          cargo clippy --workspace --no-default-features
          cargo clippy --workspace --no-default-features --all-features
          cargo hack --feature-powerset --depth=3 clippy --workspace

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust (nightly)
        uses: actions-rust-lang/setup-rust-toolchain@v1.8.0
        with:
          toolchain: nightly
          components: rustfmt

      - name: Check with Rustfmt
        run: cargo fmt -- --check

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Rust (nightly)
        uses: actions-rust-lang/setup-rust-toolchain@v1.6.0
        with:
          toolchain: nightly
          components: rust-docs

      - name: Check for broken intra-doc links
        env:
          RUSTDOCFLAGS: -D warnings
        run: cargo doc --workspace --no-deps --all-features

  public-api-diff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.base_ref }}

      - name: Checkout PR branch
        uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1.8.0
        with:
          toolchain: nightly-2023-08-25

      - name: Install cargo-public-api
        uses: taiki-e/install-action@v2.26.7
        with:
          tool: cargo-public-api

      - name: Generate API diff
        run: |
          cargo public-api diff ${{ github.event.pull_request.base.sha }}..${{ github.sha }}
