name: Release

on:
  push: { branches: [main] }

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1.13.0

      - name: Authenticate with crates.io
        uses: rust-lang/crates-io-auth-action@v1.0.1
        id: auth

      - name: release-plz
        uses: MarcoIeni/release-plz-action@v0.5.110
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
